.fullpage{
    height: 100vh;
    width: 100%;
    /*width: 100vw;*/
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.down-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*bottom: 34px;*/
    margin-bottom: -34px;
    transform: translateY(-45px);
}